<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>学生信息管理界面</title>
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<style>
		.page-content-wrap {
			padding: 20px;
		}
		.search-box {
			margin-bottom: 20px;
		}
		.footer {
			text-align: center;
			margin-top: 20px;
			color: #666;
		}
	</style>
</head>
<body>
<div id="app">
	<div class="page-content-wrap">
		<h5 style="text-align:center;font-size: 20px;line-height: 25px;color:#666">学生信息管理界面</h5>
		<el-divider></el-divider>

		<!-- 搜索和添加区域 -->
		<div class="search-box">
			<el-row :gutter="20">
				<el-col :span="2">
					<el-button type="primary" size="small" @click="handleAdd"> <!--添加按钮-->
						<i class="el-icon-plus"></i>
					</el-button>
				</el-col>
				<el-col :span="6">
					<!--搜索框-->
					<el-input
							v-model="searchName"
							placeholder="请输入学生姓名"
							clearable
							@keyup.enter.native="handleSearch">
					</el-input>
				</el-col>
				<el-col :span="2">
					<el-button type="primary" @click="handleSearch">搜索</el-button>  <!--搜索按钮-->
				</el-col>
			</el-row>
		</div>

		<!-- 表格区域 -->
		<el-table
				:data="tableData"
				border
				style="width: 100%"
				@selection-change="handleSelectionChange">
			<el-table-column
					type="selection"
					width="55">
			</el-table-column>
			<el-table-column
					prop="studentNo"
					label="学号"
					sortable>
			</el-table-column>
			<el-table-column
					prop="studentName"
					label="姓名">
			</el-table-column>
			<el-table-column
					prop="studentSex"
					label="性别">
			</el-table-column>
			<el-table-column
					label="操作"
					width="220">
				<template slot-scope="scope">
					<el-button
							size="mini"
							type="primary"
							@click="handleView(scope.row)">查看</el-button>
					<el-button
							size="mini"
							@click="handleEdit(scope.row)">编辑</el-button>
					<el-button
							size="mini"
							type="danger"
							@click="handleDelete(scope.row)">删除</el-button>
				</template>
			</el-table-column>
		</el-table>

		<!-- 分页 -->
		<el-pagination
				@size-change="handleSizeChange"
				@current-change="handleCurrentChange"
				:current-page="currentPage"
				:page-sizes="[10, 20, 30, 50]"
				:page-size="pageSize"
				layout="total, sizes, prev, pager, next, jumper"
				:total="total"
				style="margin-top: 20px;">
		</el-pagination>

		<!-- 查看对话框 -->
		<el-dialog title="查看学生信息" :visible.sync="viewDialogVisible" width="30%">
			<el-descriptions :column="1" border>
				<el-descriptions-item label="学号">{{ currentStudent.studentNo }}</el-descriptions-item>
				<el-descriptions-item label="姓名">{{ currentStudent.studentName }}</el-descriptions-item>
				<el-descriptions-item label="性别">{{ currentStudent.studentSex }}</el-descriptions-item>
			</el-descriptions>
		</el-dialog>

		<!-- 添加学生对话框/编辑对话框两个是一样的 -->
		<el-dialog :title="dialogTitle" :visible.sync="editDialogVisible" width="40%">
			<el-form :model="form" :rules="rules" ref="form" label-width="80px">
				<el-form-item label="学号" prop="studentNo">
					<el-input v-model="form.studentNo"></el-input>
				</el-form-item>
				<el-form-item label="姓名" prop="studentName">
					<el-input v-model="form.studentName"></el-input>
				</el-form-item>
				<el-form-item label="性别" prop="studentSex">
					<el-select v-model="form.studentSex" placeholder="请选择性别">
						<el-option label="男" value="男"></el-option>
						<el-option label="女" value="女"></el-option>
					</el-select>
				</el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button @click="editDialogVisible = false">取 消</el-button>
				<el-button type="primary" @click="submitForm">确 定</el-button>
			</div>
		</el-dialog>

		<el-divider></el-divider>
		<div class="footer">@2018.学生单科成绩管理系统</div>
	</div>
</div>

<script src="js/Vue.main.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="js/axios.js"></script>

<script>
	new Vue({
		el: '#app',
		data() {
			/*所有的返回数据*/
			return {
				flag : false,
				searchName: '',
				tableData: [],
				currentPage: 1,
				pageSize: 10,
				total: 0,
				viewDialogVisible: false,
				editDialogVisible: false,
				dialogTitle: '',
				currentStudent: {},
				form: {
					id: '',
					studentNo: '',
					studentName: '',
					studentSex: ''
				},
				rules: {
					studentNo: [
						{ required: true, message: '请输入学号', trigger: 'blur' }
					],
					studentName: [
						{ required: true, message: '请输入姓名', trigger: 'blur' }
					],
					studentSex: [
						{ required: true, message: '请选择性别', trigger: 'change' }
					]
				}
			}
		},
		/*当页面加载完的执行的的方法*/
		created() {
			this.fetchData()
		},
		methods: {
			/**
			 * 	所有的方法都在这里面
			 */
			// 获取所有的学生信息
			fetchData() {
				axios({
					url:'http://localhost:8080/student/getAllStudent',
					method:'post',
				}).then(res =>{
					console.log(res)
					this.tableData = res.data.data
				})
			},

			// todo:模糊查询
			handleSearch(){

			},

			// 查看学生信息的按钮
			handleView(row) {
				this.currentStudent = row
				this.viewDialogVisible = true
			},

			// 添加学生的按钮
			handleAdd() {
				this.dialogTitle = '添加学生信息'
				this.form = {
					id: '',
					studentNo: '',
					studentName: '',
					studentSex: ''
				}
				this.flag = true;
				this.editDialogVisible = true
			},



			// 编辑学生的按钮
			handleEdit(row) {
				this.dialogTitle = '编辑学生信息'
				this.form = {
					id:row.id,
					studentNo:row.studentNo,
					studentName:row.studentName,
					studentSex:row.studentSex,

				}
				this.flag = false;
				this.editDialogVisible = true;
			},

			// 删除学生操作
			handleDelete(row) {
				/*提示框*/
				this.$confirm('确认删除该学生?','提示',{
					confirmButtonText : "确定",
					cancelButtonText : "取消",
					type:'warning'
				}).then(() =>{
					// 如果用户点击了确定就执行删除操作
					//console.log(row.studentNo) // 可以根据这个来获得要删除学生的学号
					// todo:根据学生学号要删除用户信息
				})
			},

			// 添加学生和编辑学生
			submitForm() {
				// 需要判断用户是添加学生还是修改学生
				// todo:添加学生提交表单信息
				if(this.flag){
					// todo:添加操作
					// this.form.studentName  获取输入框中的内容


				}else{
					// todo:修改操作
					//console.log(this.form.studentName) // 可以获得当前编辑框中的数据根据学号
				}

			},

			// 分页
			handleSizeChange(val) {
				this.pageSize = val
				this.fetchData()
			},
			handleCurrentChange(val) {
				this.currentPage = val
				this.fetchData()
			},

			// 多选
			handleSelectionChange(val) {
				this.multipleSelection = val
			}
		}
	})
</script>
</body>
</html>